@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  background-color: #219C90;
  
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #D83F31;
  font-size: 32px;
}

.subtitulo {
  color: #D83F31;
  font-size: 20px;
}

.tarjeta {
  display: flex;
  gap: 12px;
}

.tarjeta-mascota {
  width: 140px;
  height: 100px;
  background-color: #E9B824;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: center;
}

#boton-mascota {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Indie Flower', cursive;
  margin-top: 30px;
}

.tarjeta-mascota img{
  width: 80px;
}

input {
  display: none;
}